
:host {
  display: flex;
  flex-grow: 1;
}

.login {
  margin: 0 auto;
  align-self: center;
  .login__title {
    font-family: var(--font-bold);
    font-size: 26px;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
  .login__card {
    padding: 0;
    max-width: 600px;
    border: 1px solid var(--primary-base);
    border-radius: 5px;

    .login__form {
      display: flex;
      flex-direction: column;
      padding: 12px 24px;
      .field__label {
        line-height: 30px;
        font-size: 15px;
      }
    }
  }
}
