
:host {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.main-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  background-color: var(--accent-color);
  color: white;
  padding: 0 16px;
  .caption {
    display: flex;
    .back-button {
      margin-right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .user-info {
    display: flex;
    align-items: center;
    .user-name {
      margin-right: 16px;
      color: white;
    }
    .logout-icon {
      i {
        font-weight: bold;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.main-content {
  margin-top: 64px;
}
